@import url("whitespace-reset.css");


body {
	background-color: black !important;
	height:100%;
}

.container-fluid {
    width: 50%;
    margin: 10% auto 0 auto;
}

.square {
    background-color: red;
    border: 1px solid blue;
    height: 150px;
}


