// @import url("whitespace-reset.css");

// === COLORS ===
$square-color: #3f587f;
$border-color: #ffffff;

// === FONTS ===
$mark-font: 105px;

// === SIZES ===
$body-height: 100%;
$container-width: 50%;
$body-height: 100%;
$square-height: 150px;


// === STYLE ===

body {
	background-color: black !important;
	height: $body-height;

	.container-fluid {
    width: $container-width;
    margin: 5% auto 0 auto;

    	.square {
    	background-color: $square-color;
    	border: 1px solid $border-color;
    	color: #ffffff;
    	height: $square-height;
    	box-sizing: border-box;
    	overflow: hidden;

		}
		
		.sq1, .sq4, .sq7 {
			border-left: none;
		}

		.sq3, .sq6, .sq9 {
			border-right: none;
		}

		.sq1, .sq2, .sq3 {
			border-top: none;
		}

		.sq7, .sq8, .sq9 {
			border-bottom: none;
		}
	}
	
	.score {
		width: 60%;
		margin: 20px auto 0 auto;
	}
	
		table {
			width: 60%;
			margin: 0 auto;

			th {
				width: 20%;
				color: #ffffff;
				text-align: center;
				font: bold normal 24px/17px Raleway, sans-serif;

			}
			
			td {
				width: 20%;
				text-align: center;
				padding-top: 10px;
				font: normal normal 24px/17px Raleway, sans-serif;
				color: #ffffff;
				// padding-right: 20px;
			}
		}

}
